@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&family=Inconsolata&family=Saira+Condensed:wght@300&display=swap');
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: Helvetica-Light,Helvetica,Arial,sans-serif;
}
.logo{
	padding-top: 10px;
}
a{
	text-decoration: none;
}
.open-overlay{
	display: none;
}
.closebtn{
	display: none;
}
.list-item{
	display: none;
}
.item-left-menu-overlay{
	display: none;
}
.header-container{
	max-width: 100%;
	position: relative;
	color: black;
}
.menu{
	border-bottom: 0.5px solid;
}
/*logo*/
.brand{
	color: #fff;
	font-size: 1.7em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 25px 10px;
}
/*menu list*/
.menu a{
	color: black;
}
.menu-item{
	font-family: 'Dosis', sans-serif;
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	margin: auto;
}
.item-left{
	z-index: 99;
	display: flex;
}
.item-left-menu{
	display: flex;
}
.item-left-menu .li-item{
	padding: 30px 20px 0;
}
.item-right{
	z-index: 99;
	display: flex;
}
.item-right i{
	font-size: 1.7rem;
}
.icon{
    padding: 27px 10px 0;
    font-size: 1.7rem;
}
.financedrop{
	vertical-align: center;
	cursor: pointer;
	color: black;
}

/*-------------------search----------------*/
.search{
	margin-top: 25px;
	margin-right: 10px;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	transition: 0.5s;
	box-shadow: 0 0 5px #2573ef;
	overflow: hidden;
}
.search.active{
	width: 200px;
}
.search .icon-search{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;
}
.search .icon-search::before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 3px solid #000;
	border-radius: 50%;
	transform: translate(-3px,-3px );
}
.search .icon-search::after{
	content: "";
	position: absolute;
	width: 1.5px;
	height: 10px;
	background:#000;
	transform: translate(6px,6px) rotate(315deg);
}
.input{
	position: relative;
	width: 300px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input input{
	position: absolute;
	top: 0;
	left: 2.5rem;
	background: transparent;
	color: white;
	width: 100%;
	height: 100%;
	border: none;
	outline: navajowhite;
	font-size: 1.4rem;
	padding: 10px 0;
}
.icon-search-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;
}
.search-overlay{
	margin-top: 25px;
	margin-right: 10px;
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	transition: 0.5s;
	box-shadow: 0 0 5px #2573ef;
	overflow: hidden;
}
.icon-search-overlay::after{
	content: "";
	position: absolute;
	width: 1.5px;
	height: 10px;
	background:#fff;
	transform: translate(6px,6px) rotate(315deg);
}
.icon-search-overlay::before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 3px solid #fff;
	border-radius: 50%;
	transform: translate(-3px,-3px );
}

/*-------------------------------------------------*/
ul{
	list-style: none;
}
.item-font{
	font-size: 1.1rem;
}
.li-item{
	position: relative;
	color: #ee6352;
}
.li-item a::after{
	content: "";
	position: absolute;
	background: #000;
	width: 0;
	height: 2px;
	bottom: 5px;
	left: 0;
	transform: translate(1.1rem,1rem);
	transition: 0.3s ease;
}
.li-item a:hover::after{
	width: 60%;
}

/*----price----*/
.price-car{
	margin: 20px 0;
	height: 12vh;
	background-color: gray;
	opacity: 0.7;
}
.text{
	padding: 20px 0;
	border-bottom: 1px solid;
}
.option{
	margin-top: 20px;
}
.text h3{
	font-size: 1.2rem;
}
/*car-description*/
.description-cars{
	padding: 20px;
	max-width: 1400px;
	margin: auto;
}
.decrip-container{
	display: flex;
	flex-wrap: wrap;
}
.year-select{
	display: block;
}
.car-color{
	flex: 20%;
	padding: 20px;
}
.car-year{
	flex: 10%;
}
.list-car{
	flex: 10%;
}
.color-select img{
	max-height: 20vh;
	width: 100%;
	padding: 20px;
	border-radius: 25px;
}
.car-year{
	padding: 10px;
}
.car-year h4{
	padding: 10px 0;
	cursor: pointer;
}
.car-img a{
	padding: 10px;
}
.car-img{
	position: relative;
	flex: 60%;
}
.main-img{
	display: none;

}
.main-img img{
	max-height: 80vh;
	width: 100%;
	border-radius: 10px;
}
.main-img.active-img{
	display: block;
}
a{
	cursor: pointer;
}
.color-select{
	opacity: 0.5;
	transition: .3s ease;
}
.color-select.active-choose{
	opacity: 1;
}

.title-box{
	text-align: center;
}

/*information*/
.infor-car{
	max-width: 1350px;
	margin: auto;
	padding: 20px;
	position: relative;
}
.exterior-flex{
	display: flex;
	flex-wrap: wrap;
}
.text-exterior{
	padding: 40px;
	flex: 60%;
}
.text-h4{
	font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 0;
}
.img-exterior{
	flex: 40%;
}
.img-exterior img{
	width: 100%;
	border-radius: 4px;
}
.exterior-1{
	width: 100%;
	padding: 10px 40px;
}
.text-extorior-1{
	flex: 40%;
}
.text-extorior-1 img{
	width: 100%;
	padding: 20px 10px ;
}
.img-extorior-2{
	flex: 60%;
}
.img{
	width: 100%;
}
.furniture-flex{
	border-top: 1px solid;
}
.furniture-img{
	padding: 20px;
	flex: 60%;
}
.furniture-img img{
	border-radius: 4px;
	width: 100%;
}
.furniture-textt{
	padding: 20px;
	flex: 40%;
}
.img-top{
	width: 100%;
	transform: translate(-2%, 3%);
}
.furniture-img1{
	flex: 50%;
	transform: translate(-30%,-25%);
}
.furniture-img1 h4{
	transform: translateX(20%);
	padding: 40px;
}
.furniture-text1{
	flex: 50%;
}
.gear-car{
	padding: 30px;
	border-top: 1px solid;
}
.gear-car img{
	width: 100%;
}
iframe{
	width: 80%;
	height: 600px;
}
button{
	text-align: left;
    width: 100%;
    padding: 10px;
    background: white;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
}

/*footer*/
.logo-content img{
	width: 60px;
	opacity: .4;
	transition: .3s;
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-bottom: 30px;
	
}
.logo-content img:hover{
	opacity: 1;
}
/*footer*/
.footer{
	position: relative;
	background-color: black;
	overflow: hidden;
	margin-top: 70px;
}


.footer_container{
	padding: 50px 0;
	row-gap: 25px;
	position: relative;
	display: flex;
	justify-content: space-around;
}
.footer_copy{
	color: white;
}
.footer_logo:hover{
	color: blue;
}
.footer_title{
	margin-bottom: 10px;
	background-color: black;
	border: none;
	border-bottom: 1px solid gray;
	color: white;
	font-size: 1.5rem;
}
.footer_link{
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.footer_social i{
	font-size: 25px;
	padding: 10px 20px 10px 0;
	color: white;
}

.footer_links{
	transition: height .65s cubic-bezier(0.3,0,0,1),opacity .5s .3s cubic-bezier(0,0,0.3,1);
}
.footer_links,.footer_link{
	color: white;
	padding-top: 10px;
	
}
.footer_link:hover{
	text-decoration: underline rgb(72, 186, 126);
}

/*responsive*/
@media only screen and (max-width: 960px){
	.exterior-flex{
		display: flex;
		flex-direction: column;
	}
	.furniture-img1{
		transform: translate(0,0);
	}
	.furniture-img1 h4{
		transform: translate(0,0);
	}
	.img-top{
		transform: translate(0,0);
	}
}

@media only screen and (max-width: 460px){
	.car-color{
		flex: 100%;
		padding: 0;
		display: flex;
	}
	.menu a {
    	color: white;
	}
	.footer_social{
		text-align: center;
	}
	.footer_container{
		display: block;
	}
	.footer_content{
		padding: 10px;
	}
	.footer_links{
		display: none;
	}
	iframe{
		width: 100%;
		height: 300px;
	}
	.open-overlay{
		display: block;
		padding: 25px 0 0 10px;
    font-size: 1.8rem;
	}
	.item-left-overlay{
		height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: rgb(0,0,0);
	  background-color: rgba(0,0,0, 0.9);
	  overflow-x: hidden;
	  transition: 0.5s;
	}
	.item-left-menu{
		position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}
	.item-left-menu{
		flex-direction: column;
	}
	.closebtn {
		display: block;
	  position: absolute;
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	}
	.search-overlay{
		margin-left: 25%;
		width: 250px;
	}
	.item-left-menu-overlay{
		display: flex;
		position: relative;
	  top: 25%;
	  width: 100%;
	  margin-top: 30px;
	}
	.item-right{
		display: none;
	}
	.search-overlay{
		width: 200px;
	}
}